*{
  margin: 0;
  box-sizing: border-box;
}

:root {
  --day-background: #58BAC9;
  --night-background:#494E60 ;
}



.App{
  padding: 10px;
  width: 400px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

header{
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.heading{
  text-align: center;
  color: #C7F4FD;
}

.input-field{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

input{
  width: 50%;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;

}

button{
  border-radius: 4px;
  padding: 5px;
  border-style: none;
  background-color: #4FA3B9;
  color: #C7F4FD ;
}

button:active{
  background-color:#3A8496 ;
}

button:hover{
  cursor: pointer;
}

.card{
  padding: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-image:url("./assets/morning.jpg");
  background-position: center;
  background-size: cover;

  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 10px #36717B;
}

.details{
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-p{
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.md-logos{
  font-size: 2rem;
}


.main-temp{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.num{
  font-size: 7rem;
  text-align: center;
}

.min-max{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.celcius{
  font-size: 2rem;
}

.min-max-nums{
  padding: 3px;
  display: flex;
  justify-content: center;
}

.city{
  text-align: center;
  margin-bottom: 2rem;
}

.big-weather{
  font-size: 12rem;
  margin-bottom: 3rem;
}